{% extends "blogengine/includes/base.html" %}

{% block content %}

<div id="body" class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">

			<h1 class="text-center" >{{ post.title }}</h1>	

			<div class="row text-center">
				<div class="col-sm-6 col-md-12">
					<!-- <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a> -->

					<span class="">
						<span class="glyphicon glyphicon-time"></span>{{ post.pub_date }}
					</span>
				</div>
			</div>

			<hr>
			<br>
			<p class="lead">{{ post.text }}</p>
			
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="well col-md-10">
		 
		    <h4>Leave a comment</h4>
		 
			    <form action="" role="form" class="clearfix" method="post">
			    	{}
			 
			        <div class="col-md-6 form-group">
			            <label class="sr-only" for="name">Name</label>
			            <input type="text" class="form-control" id="name" placeholder="Name">
			        </div>
			 
			        <div class="col-md-6 form-group">
			            <label class="sr-only" for="email">Email</label>
			            <input type="email" class="form-control" id="email" placeholder="Email">
			        </div>
			 
			        <div class="col-md-12 form-group">
			            <label class="sr-only" for="email">Comment</label>
			            <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
			        </div>
			 
			        <div class="col-md-12 form-group text-right">
			            <button type="submit" class="btn btn-primary">Submit</button>
			        </div>
			 
			    </form>
			</div>
		<div class="col-md-1"></div>
	</div>
</div>





{% endblock %}


