{% extends "blogengine/includes/base.html" %}

	{% block content %}

	    <div id="body" class="container">
	    	<div class="row">
			    <div class="col-md-10 col-md-offset-1">
			        <!-- <ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Library</a></li>
					  <li class="active">Data</li>
					</ol> -->

			        <!-- <h1>Latest Posts</h1> -->
			        <h1 class="text-center" >All Posts</h1>

			        {% for post in object_list %}

			        	<article>
						    <h2><a href="{% url 'blogengine:post_detail' post.id %}">{{ post.title }}</a></h2>

						 
						    <div class="row">
						        <!-- Post tags -->
						        <!-- <div class="group1 col-sm-6 col-md-6">
						            <span class="glyphicon glyphicon-folder-open"> </span>  <a href="#">   Signs</a>
						                     <span class="glyphicon glyphicon-tag"></span> <a href="#">Aries</a>,
						                <a href="#">Fire</a>, <a href="#">Mars</a>
						        </div> -->
						        <!-- Post date and time -->
						        <div class="col-sm-6 col-md-6">
						                <!-- <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
						                  
						                <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM -->
						                <span class="pull-left">
					                	<span class="glyphicon glyphicon-time"></span>{{ post.pub_date }}
						                </span>
						        </div>
						    </div>
						 
						    <hr>
						 
						    <!-- s -->
						 
						    <br>
						 
						    <p class="lead text">{{ post.text }}</p>
						 
						    <p>Lots more to come here...</p>
						 
						    <p class="text-right">
						        <a href="/post/{{post.id}}" class="text-right">
						            continue reading...
						        </a>
						    </p>
						 
						    <!-- <hr> -->
						</article>

			        {% endfor %}
			        

					<!-- pager -->
		           <!--  <ul class="pager">
		                <li class="previous">
		                    <a href="#">← Older</a>
		                </li>
		                <li class="next">
		                    <a href="#">Newer →</a>
		                </li>
		            </ul> -->

					<!-- <div class="well">
	 
					    <h4>Leave a comment</h4>
					 
					    <form role="form" class="clearfix">
					 
					        <div class="col-md-6 form-group">
					            <label class="sr-only" for="name">Name</label>
					            <input type="text" class="form-control" id="name" placeholder="Name">
					        </div>
					 
					        <div class="col-md-6 form-group">
					            <label class="sr-only" for="email">Email</label>
					            <input type="email" class="form-control" id="email" placeholder="Email">
					        </div>
					 
					        <div class="col-md-12 form-group">
					            <label class="sr-only" for="email">Comment</label>
					            <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
					        </div>
					 
					        <div class="col-md-12 form-group text-right">
					            <button type="submit" class="btn btn-primary">Submit</button>
					        </div>
					 
					    </form>
					</div> -->

			    </div>
			    

			</div>
	    </div>



	{% endblock %}