{% extends "base.html" %}

{% block content %}

    <div id="body" class="container">
    	<div class="row">
		    <div class="col-md-8">
		        <h1>Latest Posts</h1>
		        <article>
				    <h2><a href="singlepost.html">All knowing, all powerful, timeless - Books</a></h2>
				 
				    <div class="row">
				        <div class="group1 col-sm-6 col-md-6">
				            <span class="glyphicon glyphicon-folder-open"> </span>  <a href="#">   Signs</a>
				                     <span class="glyphicon glyphicon-tag"></span> <a href="#">Aries</a>,
				                <a href="#">Fire</a>, <a href="#">Mars</a>
				        </div>
				        <div class="col-sm-6 col-md-6">
				                <!-- <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
				                  
				                <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM -->
				                <span class="pull-right">
				                	<span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
				                </span>
				        </div>
				    </div>
				 
				    <hr>
				 
				    <img src="https://rqwoodward.files.wordpress.com/2016/12/5399905776_18e063742d_b.jpg?w=900&h=300&crop=1" class="img-responsive">
				 
				    <br />
				 
				    <h2 id="thefundametalsseires">The Fundametals Seires</h2>

						<h1 id="humilityfundamentalsuperpowerpart1">Humility: Fundamental Superpower Part 1</h1>

						<p>This is the first post in the Fundamentals series. In thinking about what I should write about for the first topic for the series, my brain naturally started scanning my memories for success related works that I have encountered in the past - books/articles mainly. I used the rule that the first item cannot be an external one. It has to be internal. It has to be able to stand on its own. One of the first that came to my mind was Stephen Covey's classic, 7 Habits of Highly Effective People. The very first principle is Be Proactive. Sure that sounds great, seems fairly basic, and is surely an internal value - it's a great characteristic to have for a lot of reasons, but is it fundamental?</p>

						<p>Can I be proactive .. just proactive? Proactive about what? I need something to be proactive about.</p>

						<p>You cannot be proactive without desire, the desire to do. You cannot have desire without knowledge of what you ought to do/achieve. You cannot gain knowledge without inquisitiveness. You cannot have inquisitiveness without acknowledging that there is much to learn. You cannot acknowledge anything without humility. You cannot have humility without ... whether you have anything else or not, you can always have humility. Humility it is then.</p>

						<p>Merriam-Webster defines humility as <em>freedom from pride or arrogance</em> [<em>having or showing a modest or low estimate of one's own importance.</em>] Humility, is the act of being humble. Humble is derived from the Latin word Humus, which means ground. The ground is a great place to start. In studying electrical circuits, all measurements related to electric potential are made relative to ground. Ground is 0. Ground is the starting point. How true this is of our own potential. For all our technology and evolved brains, we come from the earth, and after we die that is exactly where we return - to the ground. All our potential then is relative to our own ground. This isn't debasement. I believe if attained, it can be one of our greatest tools in our utility belt.</p>

						<p>Superpowers you say ... like what exactly?</p>

						<h2 id="howitaffectsyou">How it affects you</h2>

						<p>Humility is your greatest tool in keeping yourself in check. An accurate gauge is critical when assessing anything, and self-assessment is no different.</p>

						<h3 id="humilitystackcompressiontheory">Humility stack compression theory</h3>

						<p>Stack what the ..  <em>stay with me now</em></p>

						<h5 id="knowledgeability">Knowledge &amp; Ability</h5>

						<p>Imagine things you have acquired in your life as physical blocks. Take knowledge (or ability) for example. The more you learn the more blocks you have stacked on top of each other. The ideal person (imaginary of course) would be perfectly humble and (in keeping with Merriam-Webster) free from arrogance, lets call this person <strong>X</strong>. <strong>X</strong> would truly know the extent of their knowledge. Also consider a second person, one not free from pride or arrogance (most of us), person <strong>Y</strong>. <strong>Y</strong> too has blocks of knowledge. But oh shit, what's that in-between - damn pride and ego. Hot air.</p>

						<p><strong>X</strong>: Have you considered ...</p>

						<p><strong>Y</strong> [thinking]: What is x doing. I know all of this already. I know way more than x.</p>

						<p><strong>Y</strong>: Fuck off x. You don't know anything.</p>

						<blockquote>
						  <p>Humility is the mental force you apply to keep your acquisitions in check.</p>
						</blockquote>

						<p>Inflated ego. Excessive pride. Full of hot air. These are pockets of nothingness, that we fill in with our inflated image of ourselves. Like water, knowledge and experience tend to flow downwards. We cannot mentally be at higher ground and expect to learn something. The physics of your mind will not allow it.</p>

						<p>Life has a way of humbling us. Well what exactly does that mean?</p>

						<p>We are all going to face hardships. Some tougher than others. It is what we are truly made of that comes to our rescue during those times. If you are full of hot air, life will humble you by the weight of it's demand. The challenges will be real, your ego/pride is not. Your pride <em>will</em> fizzle out. But if you keep humility in your utility belt. Your challenges can only deflate you so much. You know your strengths, and you will flourish under pressure.</p>

						<p>[Picture of stack with pressure, maybe before after.]</p>

						<p>If you still don't learn from the experience, and continue to inflate yourself, you will perpetually be in the loop of being checkmated by life, not learning anything, and not going anywhere - fucked.</p>

						<p>Humbling yourself and acknowledging your true positon allows you the opportunity to seek help from others.
						You must take help from others. Giving is replicating. Others don't loose but you gain.</p>

						<h5 id="achievements">Achievements</h5>

						<p>As with knowledge, ego and pride also inflate achievements. There is a big discrepancy between what you think you have achieved vs what you have actually achieved. Humility can act as the compacting force that always keeps your accomplishments in check. However far you have come, you always have a true measurement. Humility will ensure that you never run out of ambition. Now matter how much you achieve, you will always feel deep within you that you are still only a blip over ground in the grand scheme of things. Keep grounded and reach ever higher.</p>

						<h5 id="antidotetofearoffailure">Antidote to fear of failure</h5>

						<p>Why do we fear failure. This sure deserves its own post, but for the sake of brevity we'll say the following: We fear failure because we believe we will fall from grace in our own eyes and in the eyes of others.</p>

						<p>Failure serves as proof of the limitation of our abilities. While there is nothing inherently wrong with that, with an ego stacked self-assessment, failure laughs in the face of our own inflated estimates of our ability. Failure brings you up close and personal with reality. Not facing even the possibility of failure is the surest way to keep your self-assessment safe and intact.</p>

						<p>As an antidote to the fear of failure, humility fore mostly gives us the a very good understanding of our own abilities. Humility also opens the mind up to learning new things, and with it the reality that failure is just one of the stepping stones to acquiring something new. With this said, there is nothing to lose for someone with humility, for there is no overestimation. The challenge itself then becomes a teacher at worst, or a new acquisition.</p>

						<p>So far we've discussed the impact of humility on our own thought process. In part two we take a look at how humility affects the environment around us.</p>

						<p>I'm curious to know what you think about this attribute. Would you have picked it as one of the first fundamental character traits. What would you have chosen otherwise?</p>
				 
				    <p class="text-right">
				        <a href="singlepost.html" class="text-right">
				            continue reading...
				        </a>
				    </p>
				 
				    <hr>
				</article>

				<!-- pager -->
	            <!-- <ul class="pager">
	                <li class="previous">
	                    <a href="#">← Older</a>
	                </li>
	                <li class="next">
	                    <a href="#">Newer →</a>
	                </li>
	            </ul> -->

	            <div class="well">
 
				    <h4>Leave a comment</h4>
				 
				    <form role="form" class="clearfix">
				 
				        <div class="col-md-6 form-group">
				            <label class="sr-only" for="name">Name</label>
				            <input type="text" class="form-control" id="name" placeholder="Name">
				        </div>
				 
				        <div class="col-md-6 form-group">
				            <label class="sr-only" for="email">Email</label>
				            <input type="email" class="form-control" id="email" placeholder="Email">
				        </div>
				 
				        <div class="col-md-12 form-group">
				            <label class="sr-only" for="email">Comment</label>
				            <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
				        </div>
				 
				        <div class="col-md-12 form-group text-right">
				            <button type="submit" class="btn btn-primary">Submit</button>
				        </div>
				 
				    </form>
				</div>
		    </div>
		    <div class="col-md-4">
		        <!-- Subscribe to my feed widget -->
			    <div class="well text-center">
			        <p class="lead">
			            Don't want to miss updates? Please click the below button!
			        </p>
			        <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
			    </div>
			 
			    <!-- Other widgets -->
		    </div>
		</div>
    </div>


{% endblock %}