.banner {	
	color: #fae596;
	font-family: 'Droid Serif', serif;
    text-align: center;
    /*border-bottom: 45px solid #dddfd4;*/
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 90px;
    background-color: #3fb0ac;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbarAP {
	border-radius: 0px
}